<!doctype html>
<title>MP3 File Speech to Text</title>
<h2>Speech to Text Converter: Select MP3 file to upload</h2>
<h3>Dedicated to Alka Masi</h3>
<p1>After clicking submit it may take 10-15 minutes (if not longer) to parse through the file (depending on size). Please click submit once.</p1>
<br>
<p2>Note: File MUST be in .mp3 format. If it is not, please use an online or local file converter prior to using this program. Thank you.</p2>
<br>
<br>
<p3>Once complete the file should auto-install on your device. </p3>


<p>

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Download">
	</p>
</form>
<br>
<br>
<p4>Created by ananth goyal. Contact Info: {ananthgoyal@berkeley.edu, ananthgoyal.com}</p4>